pytest
pytest-cov
pytest-mock
pytest-anyio
httpx
requests
beautifulsoup4
sqlalchemy
alembic
fastapi
uvicorn
pydantic
jinja2
python-multipart
python-dotenv
schedule
nfl_data_py
pandas
numpy
scikit-learn
xgboost
scipy
psycopg2-binary